<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Check out this School!</h1>

        <h5>School Name: {{one_school.name}}</h5>
        <h5>List of Friends Attending:</h5>
        {% for one_friend in one_school.friends %}
            <p>Friend's Name: {{one_friend.first_name}} {{one_friend.last_name}}</p>
            <p>Friend's Occupation: {{one_friend.occupation}}</p>
            <hr>
        {% endfor %}
    </body>
</html>