<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dojos</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">    
    </head>
    <body>
        <div class="container">
            <div class="row" id="main-row">
                <div class="col s4 offset-s1 blue-grey darken-3 white-text">
                    <h3>New Dojo</h3>
                    <form action="/createdojo" method="post">
                        <div class="input-field">
                            <label for="name">Dojo Name:</label>
                            <input type="text" name="name" id="name">
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="submit">Create Dojo
                            <i class="material-icons left">create</i>
                        </button>        
                    </form>
                </div>
                <div class="col s4 offset-s1 blue-grey darken-3 center-align">
                    <h3 class="white-text">All Dojos:</h3>
                    <ul>
                        {% for dojo in dojos %}
                            <li><a href="/dojos/{{dojo.id}}">{{dojo.name}}</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col offset-s7">
                    <a href="/ninjas" class="waves-effect waves-light btn-large"><i class="material-icons right">person_add</i>Add Ninja</a>
                </div>
            </div>

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>